html,
body {
  font-size: 10px;
  background: rgb(58, 223, 168);
  font-family: "Roboto", sans-serif;
}
.HollyGrail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: baseline;

  min-height: 100vh;
}
.HollyGrail-title {
  padding-top: 30px;
}
.HolyGrail-body {
  display: flex;
  flex: 1;
}
.HolyGrail-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: relative;
  top: 30px;
}

.HollyGrail-content-text {
  height: 10px;
  font-size: 16px;
  background-color: blue;
}

.HollyGrail nav {
  position: relative;
  top: 20px;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 1 0 10em;
}

.HolyGrail-ads {
  color: white;
  position: relative;
  right: 30px;
  padding: 20px;
  display: flex;
  flex: 1;
}

.text-aside {
  font-size: 16px;
  text-align: center;
  text-align: left;
}

.HolyGrail-nav {
  display: flex;
  flex-direction: column;

  /* put the nav on the left */
  order: -1;
}
#wydrabartek {
  font-size: large;
}

.logo {
  background: #38a3a5;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: azure;
  font-weight: 200;
}
.logo-icon {
  width: 100px;
  position: absolute;
  top: 20px;
}

.ornament-title {
  font-weight: 900;
}
.lista-miniatur {
  /* flex: 0 1 auto; */
  list-style: none;
}

.tytuly-miniatury {
  display: block;
  margin: 0;
  padding: 4px 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.main_title {
  flex: 0 1 auto;
  position: relative;
}
.main-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.obraz-miniatury {
  display: block;
  width: 100%;
  height: 85px;
}
.element-listy {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #38a3a5;
  min-width: 120px;
  max-width: 120px;
}

.large-image {
  width: 90%;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.title-large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 10em;
  text-align: center;
  font-family: "Lobster", cursive;
  color: white;
}

.HollyGrail-btn {
  background-color: #38a3a5;
  display: block;
  height: 125px;
  width: 125px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid white;
}

.plus-btn {
  font-size: 48px;
  color: aliceblue;
}

footer {
  background-color: #38a3a5;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 12px;
  text-align: center;
  color: white;
}

@media (max-width: 575.98px) {
  .HollyGrail {
    background-color: rgb(58, 223, 168);
    display: flex;
    flex-direction: column;
  }
  .logo {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: azure;
    font-weight: 200;
  }
  .logo-icon {
    width: 70px;
    position: absolute;
    top: 25px;
  }
  .HolyGrail-content {
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .HollyGrail nav {
    position: relative;
    top: 220px;
    right: 20px;
    display: flex;
    background-color: rgb(58, 223, 168);
  }
  .lista-miniatur ul {
    /* flex: 0 1 auto; */
    list-style: none;
    padding: 0px;
  }
  .HolyGrail-ads {
    color: white;
    position: relative;
    top: 200px;
    right: 30px;
    padding: 20px;
    display: flex;
    flex: 1;
  }
  .title-large-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 2em;
    text-align: center;
    font-family: "Lobster", cursive;
    color: white;
  }
  footer {
    position: relative;
    top: 240px;
    background-color: #38a3a5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
