* {
  margin: 0px;
  padding: 0px;
}
html,
body {

  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
.HollyGrail{
  display: flex;
  flex-direction: column;
}
.HollyGrail-title{
 position: fixed;

  background-color: rgb(33, 173, 162);
  width:100%;
   text-transform: uppercase;
  color: azure;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgb(73, 73, 73);
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}
.logo-one-word { 
  font-size: 40px;
  font-weight: 100; position: relative;
  left:660px;
}
.ornament-title {
  font-weight: 500;
}
.logo-icon{
  width:85px;
  height: auto;
}
.large-image-responsive{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: auto;
}
nav {
 position: fixed;
  top:30px;
  left:120px;
  padding: 10px;
}

.lista-miniatur {
  list-style: none;
  display: flex;
  justify-content: center;
  
}
.tytuly-miniatury {
  display: block;
  margin: 0;
  padding: 4px 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
a {
  text-decoration: none;
}

.obraz-miniatury {
  display: block;
  width: 100%;
  height: 85px;
}
.element-listy {
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #38a3a5;
  min-width: 120px;
  max-width: 120px;
}
.title-large-image {
  
  position: absolute;
  top: 280px;
  left: 50px;
  font-size: 10em;
  text-align: center;
  font-family: "Lobster", cursive;
  color: white;
}
.HolyGrail-ads{
  position: absolute;
  top:440px;
  left:50px;
  font-size: 20px;
  width:700px;
  color: white;
}
footer {
  z-index: 2;
  background-color: #38a3a5;
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  position: fixed;
  bottom: 0px;
  box-shadow: 0px 5px 5px rgb(73, 73, 73);

}

footer p {
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 10px;
}

@media (200px <= width <= 425px)    { 
  .HollyGrail {
    background-color: aquamarine;
  }
  .HollyGrail-title{
    position: fixed;
   
     background-color: rgb(33, 173, 162);
     width:50%;
     height: auto;
    text-transform: uppercase;
     color: azure;
     display:flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 5px 5px rgb(73, 73, 73);
     border-bottom-left-radius: 55px;
     border-bottom-right-radius: 55px;
   }
   .logo-one-word { 
    font-size: 20px;
    font-weight: 100; position: relative;
    left:10px;
  }
  .large-image-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200%;
    height: 800px;
    object-fit: cover;
    object-position: -700px 0px;
  }
  nav {
    position: fixed;
     top:120px;
     left:10px;
     padding: 10px;
   }

  .lista-miniatur {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .obraz-miniatury {
    display: block;
    width: 100%;
    height: 65px;
  }
  .element-listy {
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #38a3a5;
    min-width: 90px;
    max-width: 90px;
  }

  .title-large-image {
  
    position: absolute;
    top: 100px;
    left: 120px;
    font-size: 4em;
    text-align: center;
    font-family: "Lobster", cursive;
    color: white;
    width:60%;
  }
  .logo-icon{
    width:75px;
    height: auto;
  }
  .HolyGrail-ads{
    position: absolute;
    top:440px;
    left:140px;
    font-size: 16px;
    width:150px;
    color: white;
  }
}
 